*{
		margin: 0px;
}
header {
	
   background: linear-gradient(to top, #4facfe, #00f2fe);
   font-family: Georgia;
   font-size: 3em;
   color: white;
   font-weight: bold;
   text-align: center;
   padding-bottom: 30px;
   line-height: 50px;
}
footer {
		background: linear-gradient(to bottom, #00f2fe, #4facfe);
		padding: 50px 0px 0px 10%;
		text-align: center;
}
section {
		display: flex;
}
article {
		margin: 50px 50px 0px 50px;
		text-align: center;
	font-weight: bold;
	font-size: 2em;
}
.img/quienessomos {
    width: 70%;
    max-width: 200px;
}

.img/quehacemos {
    width: 80%;
    max-width: 220px;
}

.img/contacto {
    width: 75%;
    max-width: 210px;
}